<div class='container'>
  <div class='row'>
    <div class='col'>
      <%= image_tag @post.get_post_image %>
      <p>タイトル：<%= @post.title %></p>
        <div class=<%= "favorite-" + @post.id.to_s %> >
          <%= render "public/favorites/btn", post: @post %>
        </div>

      <!-- タグリスト -->
      <% @post_tags.each do |tag| %>
      <i class="fa-sharp fa-solid fa-tag"></i>
        <%= link_to tag.name,public_search_tag_path(post_tag_id: tag.id) %>
      <% end %>

      <p>説明：<%= @post.caption %></p>
      <p>ユーザーネーム：<%= @post.user.name %></p>
      <p>投稿日時：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
      <p><%= link_to '旅行プラン', public_trip_path(@post.trip), class: "btn btn-primary ms-3" %></p>
      <% if @post.user == current_user %>
        <%= link_to "削除する", public_post_path(@post.id), method: :delete, class: "btn btn-danger ms-3" %>
      <% end %>
    </div>
    <div class='col'>
      <%= render "public/comments/index", post: @post %>
      <%= render "public/comments/form", post: @post, comment: @comment %>
    </div>
  </div>
</div>