<div class="container">
  <div class="row">
    <div class="col-7 mt-5">
      <div class="card">
        <img class="card-img-top"><%= image_tag @post.get_post_image %>
        <div class="card-body">
          <h4 class="card-title font-weight-bold"><%= @post.title %></h4>
          <p><%= @post.created_at.strftime('%Y/%m/%d') %></p>
          <!-- タグリスト -->
          <% @post_tags.each do |tag| %>
          <i class="fa-sharp fa-solid fa-tag"></i>
            <%= link_to tag.name,public_search_tag_path(post_tag_id: tag.id) %>
          <% end %>
          <div class=<%= "favorite-" + @post.id.to_s %> >
            <%= render "public/favorites/btn", post: @post %>
          </div>
          <p class="card-text"><%= @post.caption %></p>
          <p>
            <%= link_to users_my_page_path(@post.user) do %>
              <%= image_tag @post.user.get_profile_image, size: "100x100", class: 'rounded-circle' %>
            <% end %>
            <%= link_to '旅行プラン', public_trip_path(@post.trip), class: "btn btn-primary ms-3" %>
          </p>
        </div>
      </div>
      <div class="m-3">
      <% if @post.user == current_user %> <!-- 投稿したユーザーのみが削除可能 -->
        <%= link_to "削除する", public_post_path(@post.id), method: :delete, class: "btn btn-danger ms-3" %>
      <% end %>
      </div>
    </div>
    <div class="col-md-4 offset-md-1">
      <h4 class="mt-5">コメント一覧</h4>
      <hr>
      <%= render "public/comments/index", post: @post %>
      <div class="mt-3">
      <hr>
        <%= render "public/comments/form", post: @post, comment: @comment %>
      </div>
    </div>
  </div>
</div>