<%= form_with(model: @schedule, url: schedules_path) do |f| %>
  <div>
    <%= f.label "日付" %>
    <%= f.date_field :date %>
  </div>
  <div>
    <%= f.label "行先" %>
    <%= f.text_field :destination %>
  </div>
  <div>
    <%= f.label "移動手段" %>
    <%= f.text_field :transportation %>
  </div>
  <%= f.hidden_field :trip_id, :value => @schedule.trip.id %>
  <div class="actions">
    <%= f.submit "新規スケジュール作成" %>
  </div>
<% end %>