<div class='container'>
  <div class='row'>
    <div class='col'>
      <h2><%= @trip.title %></h2>
      <%= form_tag(update_multiple_public_schedules_path, method: :put) do %>
        <% @schedules.each do |schedule| %>
          <%= fields_for "schedules[]", schedule do |f| %>
            <tr>
              <td><%= f.label :date %>: <%= f.text_field :date %></td>
              <td><%= f.label :destination %>: <%= f.text_field :destination %></td>
              <td><%= f.label :transportation %>: <%= f.text_field :transportation %></td>
              <td><%= f.label :is_accommodation %>: <%= f.check_box :is_accommodation %></td>
              <td><%= f.label :accommodation_name %>: <%= f.text_field :accommodation_name %></td>
            </tr>
          <% end %>
        <% end %>

        <%= submit_tag "一括更新" %>
      <% end %>
    </div>
  </div>
</div>