<div class='container'>
  <div class='row'>
    <div class='col'>
      <h2><%= @trip.title %></h2>
        <table class="table table-borderless">
          <tr>
            <td class="bg-light col-lg-2">日程</td>
            <td><%= @trip.departure_date %> ~ <%= @trip.return_date %></td>
          </tr>
        </table>
        <h3>Schedules</h3>
        <%= render 'form', schedule: @schedule %>
        <table>
          <% @schedules.each do |schedule| %>
            <%= form_with(model: @schedule, url: edit_public_schedule_path(@trip.id), method: :patch) do |f| %>
              <div>
                <%= f.label "日付" %>
                <%= f.date_field :date %>
              </div>
            
              <div>
                <%= f.label "行先" %>
                <%= f.text_field :destination %>
              </div>
            
              <div>
                <%= f.label "移動手段" %>
                <%= f.text_field :transportation %>
              </div>
            
              <div>
                <%= f.label "宿泊" %>
                <%= f.radio_button :is_accommodation, true %>
                <%= f.label "有り" %>
                <%= f.radio_button :is_accommodation, false %>
                <%= f.label "無し" %>
              </div>
            
              <div>
                <%= f.label "宿泊先" %>
                <%= f.text_field :accommodation_name %>
              </div>
            <% end %>
            <div class="actions">
              <%= f.submit "更新" %>
            </div>
          <% end %>
        </table>

        <%= link_to "保存する", public_trip_path(@trip.id) %>
    </div>
  </div>
</div>