<table>
  <% post.comments.each do |comment| %>
  <thead>
    <tr>
      <th></th>
      <th class="ml-3 text-info font-weight-light"><%= comment.created_at.to_date %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= link_to users_my_page_path(comment.user) do %>
          <%= image_tag comment.user.get_profile_image, size: "50x50", class: 'rounded-circle' %>
        <% end %>
      </td>
      <td><%= comment.comment %></td>
      <td>
        <% if comment.user == current_user %> <!-- コメントしたユーザーのみ削除可能 -->
          <%= link_to "削除", post_comment_path(post, comment), method: :delete, data: {confirm: "削除しますか？"}, class: "ml-3 btn btn-sm btn-outline-danger float-end", remote: true %>
        <% end %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>