<%= f.fields_for :schedules do |s| %>
  <div class="form-group">
    <%= s.label :date, class: "form-label" %>
    <%= s.text_field :date, class: 'form-control' %>
  </div>
  <%= s.label :date %>: <%= s.text_field :date %>
  <%= s.label :destination %>: <%= s.text_field :destination %>
  <%= s.label :transportation %>: <%= s.text_field :transportation %>
  <%= s.label :is_accommodation %>: <%= s.check_box :is_accommodation %>
  <%= s.label :accommodation_name %>: <%= s.text_field :accommodation_name %>
  <hr>
<% end %>