<div class="container">
  <div class="row">
    <div class="col m-3">
      <h2 class="m-3">タイトル編集</h2>
      <%= form_with(model: @trip, url: edit_public_trip_path(@trip.id), method: :patch) do |f| %>
        <div class="field">
          <%= f.label "タイトル" %>
          <%= f.text_field :title %>
        </div>

        <div class="field">
          <%= f.label "日程" %>
          <%= f.date_field :start_time %>
            ～
          <%= f.date_field :end_time %>
        </div>


        <div class="actions mt-3">
          <%= f.submit "更新", class: "btn btn-info btn-block" %>
        </div>
      <% end %>
      <div class="mt-5">
        <%= link_to '◀Back', public_trip_path(@trip), class: "btn btn-outline-primary ms-3" %>
      </div>
    </div>
  </div>
</div>