<div class='container'>
  <div class='row'>
    <div class='col'>
      <h2>New Trip</h2>
      <%= form_with(model: @trip, url: public_trips_path) do |f| %>
        <div class="field">
          <%= f.label "タイトル" %>
          <%= f.text_field :title %>
        </div>

        <div class="field">
          <%= f.label "日程" %>
          <%= f.date_field :start_time %>
            ～
          <%= f.date_field :end_time %>
        </div>

        <%= link_to_add_association 'add_schedule', f, :schedules, data: { association_insertion_node: '#schedule-forms', association_insertion_method: 'append' } %>

        <div id="schedule-forms">
          <%= f.fields_for :schedules do |s| %>
           <%= render 'schedule_fields', f: s %>
          <% end %>
        </div>


        <div class="actions">
          <%= f.submit "新規旅行作成" %>
        </div>
      <% end %>
    </div>
  </div>
</div>