<div class="container">
  <div class="row">
    <div class="col m-3">
    <% if @trip.errors.any? %>
      <%= @trip.errors.count %>件のエラーが発生しました
      <ul>
        <% @trip.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
      <h1>New Trip</h1>
      <hr>
      <%= form_with(model: @trip, url: public_trips_path) do |f| %>
      <table class="table table-borderless">
        <tr>
          <th class="col-lg-2" style="background-color: #20beea;"><%= f.label "タイトル" %></th>
          <td><%= f.text_field :title, size: "50x20" %></td>
        </tr>
        <tr>
          <th class="col-lg-2" style="background-color: #20beea;"><%= f.label "日程" %></th>
          <td>
            <%= f.date_field :start_time %>
              ～
            <%= f.date_field :end_time %>
          </td>
        </tr>
      </table>

      <h1>Schedules
      <%= link_to_add_association '＋', f, :schedules, data: { association_insertion_node: '#schedule-forms', association_insertion_method: 'append' }, class: "btn btn-outline-primary rounded-pill" %></h1>
      <hr>
      <div id="schedule-forms">
        <%= f.fields_for :schedules do |s| %>
          <%= render 'schedule_fields', f: s %>
        <% end %>
      </div>
      <div class="actions">
        <%= f.submit "カレンダーに追加する", class: "btn btn-info btn-block" %>
      </div>
    </div>
    <% end %>
  </div>
</div>