<div class="container">
  <div class="row">
    <div class="col-8 m-3">
      <h2 class="m-3"><%= @trip.title %></h2>
      <hr>
        <table class="table table-borderless">
          <tr>
            <th class="col-lg-2" style="background-color: #20beea;">日程</th>
            <td><%= @trip.start_time.to_date %> ~ <%= @trip.end_time.to_date %></td>
          </tr>
        </table>
        <div>
          <% if @trip.user == current_user %>
            <%= link_to 'タイトル編集', edit_public_trip_path(@trip), class: "btn btn-outline-info" %>
          <% end %>
        </div>
      <hr>
      <h4 class="m-3">Schedules</h4>
        <% @schedules.each do |schedule| %>
          <%= render 'public/schedules/show', schedule: schedule %>
        <% end %>
      <div class="mt-2">
        <% if @trip.user == current_user %> <!-- 旅行を作成したユーザーのみが編集可能 -->
          <%= link_to 'スケジュール編集', schedules_edit_public_trip_path(@trip.id), class: "btn btn-outline-info" %>
        <% end %>
      </div>
    </div>
    <div class="col-3 m-3  align-self-end">
      <% if @trip.user == current_user %> <!-- 旅行を作成したユーザーのみが削除可能 -->
        <div class="mb-3"><%= link_to '旅行をキャンセルする', public_trip_path(@trip.id), method: :delete, data: {confirm: "削除しますか？"}, class: "btn btn-outline-danger btn-block rounded-pill btn-lg" %></div>
        <%= link_to '思い出を投稿する', new_public_post_path(trip_id: @trip.id), class: "btn btn-outline-primary btn-block rounded-pill btn-lg" %>
      <% end %>
    </div>
  </div>
</div>