<div class='container'>
  <div class='row'>
    <div class='col'>
      <h2><%= @trip.title %></h2>
        <table class="table table-borderless">
          <tr>
            <td class="bg-light col-lg-2">期間</td>
            <td><%= @trip.departure_date %> ~ <%= @trip.return_date %></td>
          </tr>
        </table>
        <%= link_to '編集', edit_public_trip_path(@trip), class: "btn btn-success edit_trip_#{@trip.id}" %>
        <h3>Schedules</h3>
        <table>
          <% @schedules.each do |schedule| %>
            <%= render 'public/schedules/show', schedule: schedule %>
          <% end %>
        </table>
        <%= link_to '編集', edit_public_schedule_path(trip_id: @trip.id), class: "btn btn-success edit_trip_#{@trip.id}" %>
        <%= link_to '削除', public_trip_path(@trip.id), method: :delete, class: "btn btn-danger" %>
        <%= link_to '投稿', new_public_post_path(trip_id: @trip.id), class: "btn btn-primary" %>
    </div>
  </div>
</div>