<div class="container">
  <div class="row">
    <div class="col-7 mt-5">
      <div class="card">
        <img class="card-img-top"><%= image_tag @post.get_post_image %>
        <div class="card-body">
          <h4 class="card-title"><%= @post.title %></h4>
          <p><%= @post.created_at.strftime('%Y/%m/%d') %></p>
          <p class="card-text"><%= @post.caption %></p>
          <p>
            <%= link_to admin_user_path(@user.id) do %>
              <%= image_tag @post.user.get_profile_image, size: "100x100", class: 'rounded-circle' %>
            <% end %>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4 offset-md-1">
      <h4 class="mt-5">コメント一覧</h4>
      <hr>
      <%= render "admin/comments/index", post: @post %>
    </div>
  </div>
</div>