<div class="container">
  <div class="row m-4">
    <h1>マイページ</h1>
  </div>
  <hr>
  <div class="row">
    <div class="col-4">
    <%= render 'info', user: @user %>

    <% if @user == current_user %>
      <h2 class="mt-5">投稿</h2>
      <%= render 'public/posts/list', posts: @posts %>
    <% end %>
    </div>

    <div class="col-md-7  offset-md-1">
    <!-- ログインユーザーならカレンダーを表示 -->
    <% if @user == current_user %>
      <h2>My 旅</h2>
      <div class="d-flex flex-row-reverse">
        <%= link_to "▶New Trip！", new_public_trip_path, class: "btn btn-outline-info" %>
      </div>
      <%= month_calendar(events: @trips) do |date, trips| %>
        <%= date.day %>

        <% trips.each do |trip| %>
          <div>
            <%= link_to trip.title, public_trip_path(trip.id) %>
          </div>
        <% end %>
      <% end %>
      <!-- ログインユーザーでなければ該当ユーザーの投稿一覧を表示 -->
      <% else %>
        <h2 class="mt-3">投稿</h2>
        <%= render 'public/posts/list', posts: @posts %>
    <% end %>
    </div>
  </div>
</div>