<!DOCTYPE html>
<html>
  <head>
    <title>TabiTomo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/86eb26b4da.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">
  </head>

  <style>
    h1, h2, h3, h4, h5, h6 {
      font-family: "Yusei Magic", sans-serif;
    }

    .btn {
      font-family: "Yusei Magic", sans-serif;
    }

    body {
      background-color: #f7fffc;
    }

    main {
      padding: 20px;
    }
  </style>

  <body>
    <header>
      <% if request.fullpath.include? "/admin" %> <!-- URLにadminが含まれるかで分岐を作成 -->
        <%= render 'layouts/admin_header' %>
      <% else %>
        <%= render 'layouts/public_header' %>
      <% end %>
    </header>

    <main>
     <% flash.each do |message_type, message| %>
       <div class="flash-message <%= message_type %> d-flex justify-content-center"><%= message %></div>
     <% end %>
     <%= yield %>
    </main>

    <footer>
    </footer>
  </body>
</html>
